body{
	margin: 0;
	font: normal 12pt serif;
}

header{
	display: flex;
	position: relative;
	background-color: black;
	height: 40px;
	width: 100%;
	color: #ffffff;
	transition: ease-out 0.4s 0s ;
	opacity: 0;
	transition: 1s ease-out 0.3s;
	z-index: 10
}

	#tab{
		display: flex;
		flex: 1;
	}

		#logo{
			background-image: url(../sys_img/logo.png);
			background-size: cover;
			width: 30px;
			height: 30px;
			margin: 5px 5px 5px 5px;
			transition: ease-out 0.5s;
		}

		#name{
			transition: ease-out 0.5s;
		}
			#name p{
				width: 200px;
			}

		#workspace{
			display: flex;
			width: 400px;
			border-right: 1px solid #ffffff;
			border-left: 1px solid #ffffff;
			text-align: center;
			text-decoration: underline;
			transition: ease-out 0.5s;
		}

			#workspace p {
				flex: 0.5;
				cursor: pointer;
				margin: 15px 5px;
			}

		#search_div{
			position: relative;
			transition: ease-out 0.4s;
		}
			#search{
				height: 30px;
				width: 440px;
				font-size: 16pt;
				margin-top: 5px;
				transition: ease-out 0.5s;
				padding: 0px 0px 0px 30px;
			}

			#search_icon{
				position: absolute;
				top: 10px;
				left: 5px;
				cursor: pointer;
				transition: ease-out 0.5s;
			}

			#search:focus{
				width: 40vw;
			}

		.info{
			margin: -5px 15px;
			width: 150px;
		}

	#empty{
		flex: 0.5;
	}

@media screen and (max-width: 1100px) {
	#name {opacity: 0; width: 0px; margin: -5px 0px; visibility: hidden;}
	#search:focus{width: 440px;
}
@media screen and (max-width: 920px) {
	#logo{opacity: 0; width: 0px; margin: 5px 0px; visibility: hidden;}
	#workspace{border: none;}
}
