header{
	display: flex;
	background-color: black;
	height: 40px;
	width: 100%;
	color: #ffffff;
	transition: ease-out 1s 0.3s ;
	opacity: 0;
	z-index: 180;
	overflow: hidden;
}

	#tab{
		display: flex;
		flex: 1;
		user-select: none;
	}

		#logo{
			background-image: url(../sys_img/logo.png);
			background-size: cover;
			width: 30px;
			height: 30px;
			margin: 5px 5px 5px 5px;
			transition: ease-out 0.5s;
		}

		#name{
			transition: ease-out 0.5s;
			width: 100px;
			font-size: 16pt;
		}
			#name p{
				margin: 10px 0;
			}

		#workspace{
			display: flex;
			position: relative;
			width: 100px;
			border-right: 1px solid #ffffff;
			border-left: 1px solid #ffffff;
			text-align: center;
			text-decoration: underline;
			transition: ease-out 0.4s;
			margin: 0 15px;
		}

			#homeIco, #homeSearch{
				position: absolute;
				top: 5px;
				left: 10px;
				width: 30px;
				height: 30px;
				cursor: pointer;
			}

			#homeSearch{
				left: 60px;
			}

		#search_div{
			position: absolute;
			left: 0;
			top: 0;
			transition: ease-out 0.4s;
		}
			#search{
				height: 40px;
				width: 258px;
				font-size: 16pt;
				padding: 0px 40px 0px 30px;
			}
			#search:focus{
				outline: 0;
			}
			#search_icon{
				position: absolute;
				top: 10px;
				left: 5px;
				width: 20px;
				height: 20px;
				cursor: pointer;
			}

			#closeSearch{
				position: absolute;
				top: -2px;
				left: 216px;
				width: 44px;
				height: 44px;
				cursor: pointer;
			}
		.search_divItsOpen{
			opacity: 0;
			visibility: hidden;
		}
