.mainPage_start{
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: calc(100%-50px);
      opacity: 0;
      transition: 1s ease-out 0.3s;
      overflow: hidden;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      height: 100%;
      width: 100%;
}
      .mainPage_decorate{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1000%;
            width: 1000%;
            transition:  ease-out  1s;
      }
            .mainPage_kartochka{
                  width: 35vh;
                  height: 60vh;
                  min-width: 200px;
                  min-height: 400px;
                  background: red;
                  border-radius: 5vh;
                  margin: 0 10vh;
            }
