.mainPage_start{
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1s ease-out 0.3s;
      overflow: hidden;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      height: 100%;
}
      .mainPage_decorate{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1000%;
            transition:  ease-out  1s;
            z-index: 2;
      }
            .mainPage_kartochka{
                  position: relative;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 60vmin;
                  width: 60vmin;
                  margin: 0 15vmin;
                  transition: ease-out  0.5s;
                  transform: scale(1);
                  z-index: 1;
            }
            .mainPage_kartochka:hover{
                  transform: scale(1.1);
            }
                  .mainPage_kartochka div h3{

                        font-size: 5vmin;
                        color: #CCCCCC;
                        transition: ease-out  0.5s;
                        margin: -2vmin 0 0 0;
                        top: calc(0px);
                  }
                  .mainPage_kartochka div{
                        text-align: center;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        top: 0;
                        z-index: 30;

                  }
                  .mainPage_kartochka img{
                        position: absolute;
                        text-align: center;
                        transition: ease-out  0.5s;
                        width: 100%;
                        opacity: 1;

                  }
                  #mainPage_Filled{
                        position: absolute;
                        bottom: 2vmin;
                        width: 40vmin;
                        max-width: 400px;
                        height: 10vmin;
                        max-height: 100px;
                        opacity: 0.3;
                        transition: ease-out  0.3s;
                  }
