.startPageStarter{
      user-select: none;
      position: fixed;
      z-index: 10;
      width: 100%;
      height: 100%;
      top: 0;
}

      .startPageflexbox{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            background: #fff;
            transition:  ease  1s;
      }

            .startPageIcoAndGame{
                  position: absolute;
            }

                  .startPageIco{
                        background-image: url(../sys_img/wel.png);
                        background-size: cover;
                        width: 25vmin;
                        height: 25vmin;
                        margin-top: 10px;
                        opacity: 0;
                        transition:  ease  3s;
                  }

            .startPageNameProg{
                  flex: 1;
                  color: #AAB;
                  letter-spacing: 4vmin;
                  font-size: 4vmin;
                  display: flex;
                  text-align: center;
                  align-items: center;
            }
                  .starTrader{
                        transition:  ease 2s;
                        -moz-user-select: none;
                        -khtml-user-select: none;
                        -webkit-user-select: none;
                        user-select: none;
                  }
                  .starTrader6{
                        letter-spacing: 0 !important;
                  }

            .startPageStartButton{
                  position: absolute;
                  bottom: -10px;
                  opacity: 0;
                  transition: ease 3s;
            }
                  .scuareInSide{
                        width: 12vmin;
                        height: 12vmin;
                        border: 0.2vmin solid #AAB;
                        border-radius: 4vmin;
                        overflow: hidden;
                        transition: ease-in 0.5s;

                  }
                        .redScuareInSide{
                              background: red;
                              width: 115px;
                              transition: linear 0.8s;
                              width: calc(12vmin);
                              height: calc(12vmin);
                        }
                        .redScuareInSideOfClick{
                              transition: linear 0.5s;
                        }

                              .scuare{
                                    position: absolute;
                                    top: 0.5vmin;
                                    left: 0.5vmin;
                                    width: calc(12vmin - 1vmin);
                                    height: calc(12vmin - 1vmin);
                                    border: 0.2vmin solid #AAB;
                                    border-radius: calc(4vmin - 0.5vmin);
                                    background:#ffffff;
                                    display: flex;
                                    Justify-content: center;
                                    align-items: center;
                                    transition: ease-in 0.5s;
                              }

                                    .scuareText{
                                          font-size: 2vmin;
                                          color: #878787;
                                          user-select: none;
                                          transition: ease-in 0.5s;
                                    }
                                    .scuareTextFalse{
                                          color: #433333;
                                          transition: ease-in 0.5s;
                                    }
