.startPageStarter{
      position: fixed;
      z-index: 10;
      width: 100%;
      height: 100%;
      top: 0;
}

      .startPageflexbox{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            background: #fff;
            transition:  ease  1s;
      }

            .startPageIcoAndGame{
                  position: absolute;
            }

                  .startPageIco{
                        background-image: url(../sys_img/wel.png);
                        background-size: cover;
                        width: 200px;
                        height: 200px;
                        margin-top: 10spx;
                        opacity: 0;
                        transition:  ease  3s;
                  }

            .startPageNameProg{
                  flex: 1;
                  color: #AAB;
                  letter-spacing: 35px;
                  font-size: 30pt;
                  display: flex;
                  text-align: center;
                  align-items: center;
            }
                  .starTrader{
                        transition:  ease 2s;
                        -moz-user-select: none;
                        -khtml-user-select: none;
                        -webkit-user-select: none;
                        user-select: none;
                  }
                  .starTrader6{
                        letter-spacing: 0 !important;
                  }

            .startPageStartButton{
                  position: absolute;
                  bottom: -10px;
                  opacity: 0;
                  transition: ease 3s;
            }
                  .scuareInSide{
                        width: 115px;
                        height: 115px;
                        border: 3px solid #AAB;
                        border-radius: 51px;
                        overflow: hidden;
                  }
                        .redScuareInSide{
                              background: red;
                              width: 115px;
                        }
                              .scuare{
                                    position: absolute;
                                    top: 7px;
                                    left: 7px;
                                    width: 101px;
                                    height: 101px;
                                    border: 3px solid #AAB;
                                    border-radius: 44px;
                                    background:#ffffff;
                              }

                                    .scuareText{
                                          position: absolute;
                                          font-size: 17pt;
                                          margin: 35px 0 0 10px;
                                          color: #878787;
                                          -khtml-user-select: none;
                                          -webkit-user-select: none;
                                          user-select: none;
                                          transition:  linear 1s;
                                    }
                                    .scuareTextFalse{
                                          color: #433333;
                                          transition:  linear 1.7s;
                                    }
