body {
  font-family: serif, arial;
  background-color: #080808;
}



.nameTab{
	margin: 10px;
	font-size: 25pt;
	text-align: center;
}

::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */

}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
