body {
  font-family: serif, arial;
  background-color: #080808;
  margin: 0;
 padding: 0;
 color: #fff;
 font: normal 12pt serif;
}

.nameTab{
	margin: 10px;
	font-size: 25pt;
	text-align: center;
}

::-webkit-scrollbar{
      display:none;
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
#namePage{
	text-align: center;
	height: 40px;
		font-size: 22px;
}
#content{
	height: 100%;
	overflow: auto;
	text-align: center;
}
#start{
	position: absolute;
	height: calc(100% - 85px);
	width: 100%;
}
