#modalChangePrice{
    margin: 0;
    position: absolute;
    margin-right: -50%;
	order: ;
	z-index: 2;
	transition:  ease-out 0.3s;

}
#emptyModal{
	position: fixed;
	background: #ffffff;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	transition:  ease-out 0.3s;
}
.tablePrice{
    border-collapse: separate; /* Способ отображения границы */
	border-collapse: collapse;
}
.tablePrice td, .tablePrice th{

    border: 1px solid #a52a2a; /* Граница вокруг ячеек */
	text-align: center;
	padding: 5px;

}
.name{
	margin: 15px;

}

#namePage{
	text-align: center;
	height: 40px;
		font-size: 22px;
}
#content{
	height: calc(100vh - 120px);
	overflow: auto;
	text-align: center;
	border: 3px solid;
}
